<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/common.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>删除书籍</h1><br>
            <form action="" method="post">
                <input class="input-group-lg" name="book_name" placeholder="书籍名" type="text">
                <input class="input-group-lg" type="submit">
            </form>
            <br>
            <a href="/books">
                <button class="btn btn-secondary">返回书籍列表</button>
            </a>
            <a href="/">
                <button class="btn btn-secondary">返回首页</button>
            </a>
        </div>
    </div>
</div>


</body>
</html>